In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd

In [3]:
import scipy.stats

In [4]:
df = pd.read_excel('final地下水_Sylvia 1091229.xlsx', sheet_name='表3(作圖)')

In [5]:
df.head()

,時間,隧道出水口,土方堆置A區,土方堆置B區,隧道進水口,時間.1,隧道出水口.1,土方堆置A區.1,土方堆置B區.1,隧道進水口.1,...,Unnamed: 86,隧道出水口.17,土方堆置A區.17,土方堆置B區.17,隧道進水口.17,Unnamed: 91,隧道出水口.18,土方堆置A區.18,土方堆置B區.18,隧道進水口.18
0,103Q1,109.467,160.899,124.945,-,103Q1,26.1,25.4,25.7,0.0,...,103Q1,<1.0,<1.0,<1.0,0,103Q1,6.5,115.0,27.7,0
1,103Q2,109.627,160.998,124.888,-,103Q2,25.9,26.3,25.7,0.0,...,103Q2,<1.0,<1.0,<1.0,0,103Q2,17.0,132.0,30.5,0
2,103Q3,111.747,162.266,125.101,-,103Q3,30,29.4,29.2,0.0,...,103Q3,<1.0,<1.0,<1.0,0,103Q3,3.4,95.0,26.0,0
3,103Q4,110.717,161.166,125.069,-,103Q4,25.8,26.1,26.3,0.0,...,103Q4,<1.0,<1.0,<1.0,0,103Q4,4.2,67.8,25.2,0
4,104Q1,109.862,160.505,125.009,-,104Q1,27.8,25.5,26.2,0.0,...,104Q1,<1.0,<1.0,<1.0,0,104Q1,8.2,103.0,29.1,0

In [6]:
def t_test_new(place):
    
    group11 = list(pd.to_numeric(df[place].iloc[0:3], errors='coerce').fillna(value=0))
    group22 = list(pd.to_numeric(df[place].iloc[3:28], errors='coerce').fillna(value=0))
    
    mean1 = np.mean(group11)
    mean2 = np.mean(group22)
    std1 = np.std(group11)
    std2 = np.std(group22)
    nobs1 = len(group11)
    nobs2 = len(group22)
    
    modified_std1 = np.sqrt(np.float32(nobs1) / np.float32(nobs1-1)) * std1
    modified_std2 = np.sqrt(np.float32(nobs2) / np.float32(nobs2-1)) * std2
    statistic, pvalue = scipy.stats.ttest_ind_from_stats( 
               mean1=mean1, std1=modified_std1, nobs1=nobs1,   
               mean2=mean2, std2=modified_std2, nobs2=nobs2 )
    return statistic, pvalue

# 參考資料：https://medium.com/@peilee_98185/t-%E6%AA%A2%E5%AE%9A-with-python-443c2364b071

In [7]:
name_of_place = ['隧道出水口', '土方堆置A區', '土方堆置B區',             #水位
                 '隧道出水口.1', '土方堆置A區.1', '土方堆置B區.1',       #水溫
                 '隧道出水口.2', '土方堆置A區.2', '土方堆置B區.2',       #pH
                 '隧道出水口.3', '土方堆置A區.3', '土方堆置B區.3',       #BOD
                 '隧道出水口.4', '土方堆置A區.4', '土方堆置B區.4',       #COD
                 '隧道出水口.5', '土方堆置A區.5', '土方堆置B區.5',       #TOC
                 '隧道出水口.6', '土方堆置A區.6', '土方堆置B區.6',       #TDS
                 '隧道出水口.7', '土方堆置A區.7', '土方堆置B區.7',       #SS
                 '隧道出水口.8', '土方堆置A區.8', '土方堆置B區.8',       #NH4-N
                 '隧道出水口.9', '土方堆置A區.9', '土方堆置B區.9',       #導電度
                 '隧道出水口.10', '土方堆置A區.10', '土方堆置B區.10',    #比導電度
                 '隧道出水口.11', '土方堆置A區.11', '土方堆置B區.11',    #SO42-
                 '隧道出水口.12', '土方堆置A區.12', '土方堆置B區.12',    #NO3-
                 '隧道出水口.13', '土方堆置A區.13', '土方堆置B區.13',    #總菌落數
                 '隧道出水口.14', '土方堆置A區.14', '土方堆置B區.14',    #大腸桿菌群
                 '隧道出水口.15', '土方堆置A區.15', '土方堆置B區.15',    #Fe2+
                 '隧道出水口.16', '土方堆置A區.16', '土方堆置B區.16',    #Mn2+
                 '隧道出水口.17', '土方堆置A區.17', '土方堆置B區.17',    #油脂
                 '隧道出水口.18', '土方堆置A區.18', '土方堆置B區.18',]   #Cl-

In [8]:
list__11 = []
for place in name_of_place:
    list__11.append(t_test_new(place))

In [9]:
list__11

[(0.7975637290150852, 0.43234781371896747),
 (-0.31065684218387796, 0.7585383315501112),
 (0.405720676071514, 0.6882674495484931),
 (0.48176322115455494, 0.634004616795224),
 (0.9453426433141592, 0.3531871598878987),
 (0.5712630834597204, 0.5727268230595038),
 (-0.8858142330512797, 0.3838374479473021),
 (2.5517818644174834, 0.016941482215250016),
 (-0.43255083068823647, 0.6689078544503912),
 (-0.32856237289935275, 0.7451181808114397),
 (1.6484016479650097, 0.11130347371807718),
 (-0.7906712065564232, 0.43628907735200806),
 (-0.620391577446198, 0.5404003357207064),
 (1.8730110421566044, 0.07235199978807726),
 (0.7772444573540164, 0.44402938379480394),
 (-0.9141627958529439, 0.3690316389429814),
 (2.1734398580691656, 0.03904270733470448),
 (-1.967595346024494, 0.05986808896812617),
 (-0.9920992678636453, 0.3302929714671744),
 (1.7749357333120503, 0.08761861729121848),
 (-0.9779225124040926, 0.3371247854184325),
 (-1.0178527107161703, 0.318126494195324),
 (0.5183552643520893, 0.6085940054180881),
 (-0.4364773876079138, 0.6660936483555469),
 (-1.509128639613476, 0.14332340456668474),
 (1.1786358656839175, 0.24921774574039587),
 (2.8025392339826594, 0.009452031471807617),
 (-1.1910675487022637, 0.24438743300570284),
 (0.9605003287667653, 0.3456514167018845),
 (-0.49192270757043094, 0.6269017976627416),
 (0.7911446009229535, 0.43601768302651744),
 (-0.727473570173846, 0.4734363586701603),
 (0.10939796619215325, 0.9137268384645193),
 (2.332447173629883, 0.027689655495097464),
 (-0.5240529385221672, 0.6046808912767372),
 (-2.8328703559311785, 0.008795351355369766),
 (0.43152007929302244, 0.669647423992334),
 (3.729881284008678, 0.0009418435685842711),
 (0.0349055959088638, 0.972421625568458),
 (-0.4589752815085866, 0.6500660008915455),
 (-0.37443629955598007, 0.7111163489736387),
 (-0.6892487854616308, 0.49677234503386525),
 (-0.4760398183834019, 0.6380218620426605),
 (-0.7434177105548045, 0.4638941763289752),
 (-0.5732716247630091, 0.5713863488837658),
 (-1.27871717784118, 0.2122931331699793),
 (3.6045016599310022, 0.0012995112975837135),
 (-1.1944299239479204, 0.2430930149074283),
 (1.3840701626938419, 0.17810361241614142),
 (3.1052827794828732, 0.004551220871258616),
 (0.3898287968426162, 0.6998382963522852),
 (-0.547342010526603, 0.588811760967386),
 (-0.48596336154868314, 0.6310637838264042),
 (nan, nan),
 (-1.3082235010335288, 0.20224561295681226),
 (1.3036775641683196, 0.20376926827266056),
 (1.5855424160043339, 0.12493210834327606)]

In [10]:
df_tp = pd.DataFrame(list__11, index=name_of_place , columns=['T-Score', 'P-Value'])

In [11]:
df_tp.head()

           T-Score   P-Value
隧道出水口     0.797564  0.432348
土方堆置A區   -0.310657  0.758538
土方堆置B區    0.405721  0.688267
隧道出水口.1   0.481763  0.634005
土方堆置A區.1  0.945343  0.353187

In [12]:
writer = pd.ExcelWriter('T-Test_南化.xlsx')
df_tp.to_excel(writer, sheet_name='T-Test')
writer.save()